{{ define "title_failure" -}}
Failure running backup-volume at {{ .Stats.StartTime | formatTime }}
{{- end }}


{{ define "body_failure" -}}
Running backup-volume failed with error: {{ .Error }}

Log output of the failed run was:

{{ .Stats.LogOutput }}
{{- end }}


{{ define "title_success" -}}
Success running backup-volume at {{ .Stats.StartTime | formatTime }}
{{- end }}


{{ define "body_success" -}}
Running backup-volume succeeded.

Log output was:

{{ .Stats.LogOutput }}
{{- end }}
